/* Base styles */
body {
    background: #F2F1F1;
    color: #373737;
    margin: 0;
    font-family: "proxima-nova", Avenir Next, Avenir, Gill Sans, Futura, Myriad Pro, Corbel, Tahoma, Verdana, sans-serif; 
}
.site {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.masthead-name {
  font-weight: 400;
  margin: 0 auto;
  line-height: 1.1em;
  text-align: center;
}
.job-roles { 
  color: #BD3612; 
  text-transform: uppercase;
  text-align: center;
}

.bio a:link { 
  color: #2075C7; 
  text-decoration: none;
}
.bio a:hover, .bio a:visited, .bio a:focus { 
  color: #195EA1;
}

footer { 
  margin: 0 auto;
  text-align: center;
  background: #373737;
  width: 100%;
  border-top: 2px solid #111;
  padding-bottom: 0.5em;
}

.footer-link {
  display: inline-block;
  text-align: center;
  padding: 1em;
}

footer a:link {
  font-weight: normal;
  color: #F2F1F1; 
  text-decoration: none;
}

ul { 
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

/* Dumbphone-first */

p { 
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 1.3em;
  font-weight: 400;
}

.masthead-name { 
  font-size: 2em; 
  font-weight: 800;
  margin: 1em auto 0;
}
.job-roles { 
  font-size: 1em; 
  font-weight: 600; 
  margin: 0 auto 2em; 
}

/* Smartphone portrait*/
@media all and (min-width: 320px){
  .site {
    width: 90%;
  }

  p { 
    font-size: 1.1em;
    line-height: 1.35em;
    margin-bottom: 1.35em;
  }

  .masthead-name { 
    font-size: 2.5em;
    margin: 1em auto 0;
  }
  .job-roles { 
    font-size: 1.25em;
  }
}

/* Small tablet */
@media all and (min-width: 480px) { 
  .bio { 
    width: 100%; 
  }
  .masthead-name { 
    font-size: 3.5em; 
    margin: 0.5em auto 0;
  }
  .job-roles { 
    font-size: 1.75em;
  }
  p { 
    font-size: 1.35em;
    line-height: 1.65em;
    margin-bottom: 1.65em;
  }
}

/* Large tablet */
@media all and (min-width: 768px) {
  .site { 
    width: 90%;
    padding-bottom: 3em;
  }
  .bio { 
    width: 99%;
  }
  .masthead-name {
    text-align: left; 
    font-size: 6.2em; 
    line-height: 1.1em;
    font-weight: 800;
    margin: 1em auto 0;
  }
  .job-roles {
    text-align: left; 
    font-size: 1.8em; 
    font-weight: 600; 
    margin: 0 auto 2.5em; 
  }
  p { 
    font-size: 1.4em;
    line-height: 1.75em;
    margin-bottom: 1.75em;
  }
  footer a:link { 
    font-size: 1.25em;
    font-weight: normal;
    display: block;
  }
}

/* Tablet - Landscape */
@media all and (min-width: 1024px) {
  .site { 
    width: 66%;
    padding-bottom: 3em;
  }
  .bio { 
    width: 100%;
  }
  .masthead-name {
    text-align: left; 
    font-size: 6.5em; 
    line-height: 1.1em;
    font-weight: 800;
    margin: 1em auto 0;
  }
  .job-roles {
    text-align: left; 
    font-size: 1.9em; 
    font-weight: 600; 
    margin: 0 auto 3.25em; 
  }
  p { 
    font-size: 1.4em;
    line-height: 1.65em;
    margin-bottom: 1.65em;
  }
  footer a:link { 
    font-size: 1.25em;
  }
}

/* Laptop */
@media all and (min-width: 1280px) {
  .site { 
    width: 55%;
    padding-bottom: 4em;
  }
  .bio { 
    width: 90%;
  }
  .masthead-name {
    text-align: left; 
    font-size: 6.5em; 
    line-height: 1.1em;
    font-weight: 800;
    margin: 1em auto 0;
  }
  .job-roles {
    text-align: left; 
    font-size: 1.9em; 
    font-weight: 600; 
    margin: 0 auto 3.25em; 
  }
  p { 
    font-size: 1.45em;
    line-height: 1.65em;
    margin-bottom: 1.65em;
  }
  footer a:link { 
    font-size: 1.25em;
    font-weight: normal;
    display: block;
    -webkit-transition: background 0.3s ease; 
    -moz-transition: background 0.3s ease; 
    -o-transition: background 0.3s ease; 
    transition: background 0.3s ease;
  }
  footer li {
    display: inline-block; 
    width: 8.75em;
  }
}
/* HD 