$solarized-orange: #BD3612;
$solarized-blue: #2075C7;

$background-color: #FDFDFD;
$body-copy-color: #111;
$secondary-color: $solarized-orange;
$body-link-color: $solarized-blue; 
$darkened-bg: darken($background-color, 7%);

body {
    background-color: $background-color;
    color: $body-copy-color;
}

blockquote {
  color: #777;
}

h1 {
    color: #000;
}
h2 {
  color: #B3B3B3;
}

a:link, a:visited { 
  color: $body-link-color; 
  text-decoration: none;
}
a:hover, a:focus { 
  background: $darkened-bg;
}

footer { 
  background: $body-copy-color;
  border-top: 2px solid #111;
}

footer a:link, footer a:visited {
  color: $background-color;
  background: none;
}

footer a:hover {
  color:  $darkened-bg;
  background: none;
}

footer-post-nav {
  background: $secondary-color;
}

.home_link {
 color: $secondary-color;   
}

.job-roles {
  color: $secondary-color; 
}

.external-post-link {
  background: $darkened-bg;
}

