$solarized-orange: #BD3612;
$solarized-blue: #2075C7;

$background-color: #FDFDFD;
$body-copy-color: #111;
$secondary-color: $solarized-orange;
$body-link-color: $solarized-blue; 
$darkened-bg: darken($background-color, 7%);

body {
    background-color: $background-color;
    color: $body-copy-color;
}

blockquote {
  color: #777;
}

h1 {
    color: #000;
}
h2 {
  color: #B3B3B3;
}

a:link, a:visited { 
  color: $body-link-color; 
  text-decoration: none;
}
a:hover, a:focus { 
  background: $darkened-bg;
}

.site-footer { 
  background: $body-copy-color;
  border-top: 2px solid #111;
}

.site-footer a:link, .site-footer a:visited {
  color: $background-color;
  background: none;
}

footer a:hover {
  color:  $darkened-bg;
  background: none;
}

.post-footer {
  background-color: $body-copy-color;
  color: $background-color;
  padding: 0.2em 0.35em;

  a.previous-post-link, a.next-post-link {
    color: $body-link-color;
  }
}

.masthead-name a {
 color: $body-copy-color; 
 font-weight: 600;  
}

.job-roles {
  color: $secondary-color; 
}

.external-post-link {
  background: $darkened-bg;
}

