@import "normalize";
@import "typography";
@import "colors";

/* Base styles */

footer { 
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-bottom: 0.5em;
}

ul { 
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

time { display: block; }

.page {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.masthead-name {
  margin: 0 auto;
}

.external-link {
  display: inline;
    padding: 0.5em;
}

@media all and (min-width: 241px) {
    .external-link {
      display: inline-block;
        padding: 1em;
    }
}

/* Smartphone portrait */
@media all and (min-width: 320px){
  .page {
    width: 90%;
  }
}

/* Small tablet */
@media all and (min-width: 480px) { 
  .bio { 
    width: 100%; 
  }
}

/* Large tablet */
@media all and (min-width: 768px) {
  .page { 
    width: 90%;
    padding-bottom: 3em;
  }
  .bio { 
    width: 99%;
  }
}

/* Tablet - Landscape */
@media all and (min-width: 1024px) {
  .page { 
    width: 66%;
    padding-bottom: 3em;
  }
  .bio { 
    width: 100%;
  }
}

/* Laptop */
@media all and (min-width: 1280px) {
  .page { 
    width: 57%;
    padding-bottom: 4em;
  }
  .bio { 
    width: 90%;
  }
  footer li {
    display: inline-block; 
    width: 8.75em;
  }
}
