---
layout: default
---

<section class="bio">
	<p>With strong roots in user interface, interaction, and experience design, I approach usability from a holistic, 'big-picture' perspective. Ranging anywhere from information architecture, to performance optimization, to hand-crafting UIs for mobile and TV, my deep fascination with the way people communicate through technology is what drives me to make things “the way they should be.”</p>

  <p>I care about crafting content-centered, predictable, and responsive interfaces using clean, standards-based code. I design products for mobile, touch, and typography first. In my work, the questions of ‘who’ and ‘why’ <em>always</em> come before ‘what’ and ‘how’.</p>
</section>

<section class="career-highlights">
  <h2>Career highlights</h2>
  <ul class="career-highlights-list">
   <li>I’ve worked on products for Pepsi, Honda, Kellogg’s, Nestle, and P&amp;G.</li>
   <li>I’ve designed and built UIs in Flash, Flex, Objective-C, and JavaScript.</li> 
   <li>I have designed products for mobile, TV, and even custom hardware.</li>
   <li>I have written for <a href="developria.com/author/94/">O’Reilly Media</a>, <a href="http://uxmag.com/contributors/kevin-suttle">UX Magazine</a>, Adobe Developer Connection, <a href="https://medium.com/@kevinSuttle">Medium</a>, and (soon) Smashing Magazine.</li>
   <li>I have <a target="_blank" href="http://lanyrd.com/people/kevinsuttle">presented</a> at several industry conferences across the country and Canada, including FITC, Adobe MAX, OSCON, RIA Unleashed, 360 Flex, and Flash &amp; the City.</li> 
   <li>My <a href="https://medium.com/design-ux/eeb32a8931ac">first article</a> on Medium reached the “most recommended” status just hours after it was published, and was shared by <a href="https://twitter.com/CommArts/status/352457905737449473">Communication Arts</a>, <a href="https://twitter.com/sixrevisions/status/355401883545894913">Six Revisions</a>, <a href="https://twitter.com/abduzeedo/status/353215720965935104">Adbuzeedo</a>, and <a href="https://twitter.com/intercom/status/354674327498665986">Intercom</a>.</li>
   <li>I've had multiple slide decks in <a href="slideshare.net/kevinsuttle">SlideShare</a>'s ‘Top Presentations of the Day’ including the  ‘Most discussed presentation on Twitter’.</li> 
   <li>I've been named an <a href="http://blogs.adobe.com/community/2011/01/adobe-community-professionals-2011.html">Adobe Community Professional</a>.</li>
 </ul>
</section>

<section>
  <h2>Get in touch</h2>
  <p>I am currently accepting offers for speaking engagements, writing projects, and consulting work. The best way to reach me is <a href="mailto:kevin@kevinsuttle.com">email</a>.</p>
</section>

<!-- <section class="article-list">
<h2>Articles</h2>
  <ul class="list">
    {% for post in site.posts %}
      {% if post.external %}
      <li class="external-post-link post-listing-item">
        <time>{{ post.date | date: "%B %e, %Y" }}</time> <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% else %}
      <li class="post-listing-item">
        <time>{{ post.date | date: "%B %e, %Y" }}</time> <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section> -->