<footer class="site-footer" role="contentinfo">
		<div class="footer-wrapper">
			<aside class="footer-module" role="complementary">
				<h2 class="footer-module-heading">About me</h2>
				<p class="footer-module-content">My name is {{ site.data.bio.handle }}. I'm a {{ site.data.bio.jobtitle }}
 <a href="/about">Learn more about me</a>, or <a href="mailto:{{ site.data.bio.email }}">get in touch</a>.</p>
			</aside>

			<aside class="footer-module" role="complementary">
				<h2 class="footer-module-heading">Elsewhere</h2>
				<ul class="footer-module-content">
					<li><a href="https://twitter.com/kevinSuttle" title="You should follow me on Twitter." rel="external">Twitter</a></li>
					<li><a href="https://github.com/kevinSuttle" title="Check out my code on Github. See what I did there?" rel="external">GitHub</a></li>
					<li><a href="https://linkedin.com/in/kevinsuttle" title="I'm open to connect on LinkedIn" rel="external">LinkedIn</a></li>
				</ul>
			</aside>
		</div>
	</footer>