html {
	background-color: lighten($body-copy-color, 10%);
}

body {

	background-color: $page-bg-color;
	color: $body-copy-color;
	border-top: 0.025em solid $body-copy-color;
}

details, summary:focus {
	outline: 0;
}

blockquote  {
	border-left: 0.15em solid $bright-grey;
	color: lighten($medium-grey, 15%);
}

a, a:visited, a code {
	color: $body-link-color;
	transition: color 200ms linear;
}

a:hover {
	color: lighten($body-link-color, 10%);
	transition: color 200ms linear;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

code, kbd {
	color: $medium-orange;
}

pre, samp {
	background-color: #F5F5F5;
	color: #686865;
}

pre code {
	font-size: 0.75em;
	color: #686865;
}

a.home-link {
	color: lighten($page-bg-color, 15%);
	background-color: $body-copy-color;

	&:hover {
		color: darken($page-bg-color, 10%);
		transition: color 200ms linear;
	}
}

article header {
	.article-title {
		color: lighten($body-copy-color, 50%);
		.article-permalink {
			text-decoration: none;
		}
	}
	.article-pubdate {
		color: darken($bright-grey, 15%);
	}
}

.article-collection-item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	&:last-child {
		border-bottom: none;
	}
}

.site-footer {
	background-color: lighten($body-copy-color, 10%);
	color: $page-bg-color;
}

.footer-module {
	.footer-module-heading {
		color: $bright-grey;
	}
	a {
		color: lighten($body-link-color, 20%);
	}
	a:hover {
		color: $body-link-color;
	}
}
