$background-color: #FDFDFD;
$body-copy-color: #1A1919;
$body-link-color: #459dbf;
$bright-grey: #B3B3B3;
$medium-grey: #505050;
$solarized-blue: #2075C7;
$medium-orange: #dd731c;

html {
	background-color: lighten($body-copy-color, 10%);
}

body {
	background-color: $background-color;
	color: $body-copy-color;
	border-color: $medium-grey;
}

blockquote {
	color: darken($bright-grey, 10%);
}

a, a:visited {
	color: $body-link-color;
	transition: color 200ms linear;
}


.post-header {
	.post-title {
		color: lighten($body-copy-color, 50%);

		a {
			text-decoration: none;
		}
	}
}

[role="banner"] {
	a {
		color: $body-copy-color;
	}
	a:hover {
		color: $bright-grey;
		transition: color 200ms linear;
	}
}

code,
kbd,
pre,
samp {
	color: $medium-orange;
}

.site-footer {
	.footer-module-header {
		color: $bright-grey;
	}

	color: $background-color;
	background-color: $body-copy-color;

	a:link, .site-footer a:visited {
		color: $body-link-color;
		background: none;
		transition: color 300ms linear;
	}
}

.footer-module {
	& a:link, & a:visited {
		color: lighten($body-link-color, 10%);
	}
	& a:hover, & a:focus {
		color: lighten($body-link-color, 20%);
	}
}

[rel="prev"], [rel="next"] {
	color: $body-link-color;
}
