body {
	border-top: 3px solid;
}

blockquote {
	margin-bottom: $base-line-height;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
	}
}

.page-wrapper {
	margin: 0 auto;
	padding: 0 0.5em;
}

.site-header {
	display: block;
	margin-bottom: 10%;
	margin-top: 0;
	padding-top: 0;
}

.home-link {
	display: inline-block;
	margin: 0;
	padding: 0.2em;
	padding-top: 0.5em;
}

.post-heading {
	padding-top: 2em;
	margin-bottom: 3em;
}

.post-title {
	margin: 0;
	padding-bottom: 6px;
	a {
		font-weight: 600;
	}
}

.post-content {
	margin-top: 10%;

	h2 {
		padding-top: $base-font-size;
		font-weight: normal;
		font-style: italic;
	}
}

.article-list {
	margin-top: 15%;

	.post-time {
		display: block;
	}

	.article-list-item {
		margin: 0 0 $base-line-height 0;
		padding-bottom: 32px;
		padding-bottom: 2rem;
	}
}

.post-content{
	margin-bottom: $base-line-height * 3;
	li {
		padding-left: 0;
	}
}

.post-footer nav {
	padding: 0.2em 0.35em 0.2em 0;

	.previous-post-link, .next-post-link {
		display: inline-block;
		margin-bottom: $base-line-height;
	}
	span { display: block; }
}

.site-footer {
	.footer-module {
		padding: 1em 2em;
		padding-bottom: 3em;

		.footer-module-heading {
			margin: ($base-line-height / 3) auto;
		}
		.footer-content {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

/* Smartphone portrait */
@media all and (min-width: 320px){
	.page-wrapper {
		width: 90%;
	}

	.post-content li {
		padding-bottom: 1em;
	}
}

/* Smartphone landcape */
@media screen and (min-width: 480px) {
	.post-content li { padding-left: 1em; }
}

/* Large tablet */
@media all and (min-width: 670px) {
	.page-wrapper {
		padding-bottom: 3em;
		max-width: 620px;
		max-width: 37.5rem;
	}
	.footer-module {
		display: block;
		width: 37.5%;
		float: left;

		&.footer-module--extra {
			clear: both;
			width: 15%;
		}
	}
}

@media screen and (min-width: 800px) {
	.home-link {
		position: relative;
		left: -60%;
	}
}

@media screen and (min-width: 960px) {
	.footer-module {
		width: 30%;
		&.footer-module--extra {
			width: 15%;
			clear: none;
			float: left;
		}
	}
}

/* Tablet - Landscape */
@media all and (min-width: 1024px) {
	.page-wrapper {
		padding-bottom: 3em;
	}
}

/* Laptop */
@media all and (min-width: 1280px) {
	.page-wrapper {
		padding-bottom: 4em;
	}
}
