body {
	border-top: 0.25em solid;
}

blockquote {
	margin-bottom: $base-line-height;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
	}
}

.page-wrapper, .footer-wrapper {
	margin: 0 auto;
	padding: 0 0.5em;
	width: 90%;
}

.page-wrapper {
	padding-bottom: 3em;
}

.site-header {
	display: block;
	margin-bottom: 10%;
	margin-top: 0;
	padding-top: 0;
}

.home-link {
	display: inline-block;
	margin: 0;
	padding: 0.2em;
	padding-top: 0.5em;
}

.post-heading {
	padding-top: 2em;
	margin-bottom: 3em;
}

.post-title {
	margin: 0;
	padding-bottom: 6px;

	a {
		font-weight: 600;
	}
}

.post-content {
	margin-top: 10%;

	h2 {
		padding-top: $base-font-size;
		font-weight: normal;
		font-style: italic;
	}
	li {
		padding: 0 1em ;
	}
}

.article-list {
	margin-top: 15%;

	.post-time {
		display: block;
	}

	.article-list-item {
		margin: 0 0 $base-line-height 0;
		padding-bottom: 32px;
		padding-bottom: 2rem;
	}
}

.post-content {
	margin-bottom: $base-line-height * 3;
}

.post-footer nav {
	padding: 0.2em 0.35em 0.2em 0;

	.previous-post-link, .next-post-link {
		display: inline-block;
		margin-bottom: $base-line-height;
	}
	span { display: block; }
}

.site-footer {

	.footer-module {
		padding: 1em 0;

		.footer-content {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

/* Large tablet */
@media all and (min-width: 670px) {
	.page-wrapper, .footer-wrapper {
		max-width: 620px;
		max-width: 37.5rem;
	}
	.footer-module {

		&:first-child {
			width: 70%;
			padding-right: 10%;
			float: left;
		}
		&:last-child {
			float: right;
		}
	}
}
