body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
subhead,
main,
nav,
section,
summary {
	display: block;
}

img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	max-width: 100%;
	max-height: 100%;
}

blockquote {
	margin-bottom: 1.5em;
	padding: 0 0 0 1em;
}

pre, samp {
	padding: .5em;
	padding-left: 1em;
	border-radius: 6px;
}

ul {
	list-style-type: none;
	margin: 0;

	li {
		margin: 0;
	}
}

dd {
	margin-left: 0;
	margin-bottom: 1em;
}

.page-wrapper, .footer-wrapper {
	margin: 0 auto;
	padding: 0 .5em 1em;
	width: 90%;
}

.site-header {
	display: block;
	margin-bottom: 3em;
	padding-top: 0;
}

.site-header {
	margin-left: -6%;
}

.home-link {
	margin: 0;
	width: 100%;
	display: block;
	padding: 1em 0 .5em 1em;
}

.article-collection {
	margin-top: 5%;
	padding-left: 0;

	.article-pubdate {
		display: block;
		padding-bottom:4px;
	}

	.article-collection-item {
		margin: 0 0 $base-font-size 0;
		padding-bottom: 2em;
	}
}

.article-header {
	padding-top: 0;
	margin-bottom: 2em;
}

.article-banner-image {
	max-width: 100%;
}

.article-collection-item {
	margin: 0;
	padding-bottom: .375em;
}

article {
	margin-top: 10%;
	margin-bottom: 3em;
	p {
		margin-top: 0;
		margin-bottom: $base-line-height +em;
	}
	details > p {
		margin-top: 1em;
	}
	h2 {
		padding-bottom: .25em;
	}
	ul, & ol{
		margin-left: 1em;
	}
	overflow: hidden;
	word-wrap: break-word;
}

.article-bio ul {
	padding-left: 0;
	li { padding-bottom: 0.5em }
	margin-bottom: 1em;
}

.article-footer {
	padding-top: .5em;
}

.article-nav-link {
	padding-bottom: 1.25em;
}

.footer-module {
	padding: 1.5em 0 1em;

	.footer-content {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.site-footer ol, ul {
	padding-left: 0;
}
