@media screen and (min-width: 32.941176471em) {
	body {
		font-size: 120%;
		margin-top: 0.5em;
	}
	.site-header {
		margin-left: 0;
	}
	.home-link {
		padding: 0.5em;
		width: 1.3em;
	}
	.page-wrapper, .footer-wrapper {
		max-width: 25em;
	}
    article ol, article ul {
        margin-left: 0;
    }
}

@media all and (min-width: 41.875em) {
	body {
		font-size: 130%;
	}
	.page-wrapper, .footer-wrapper {
		max-width: 28em;
	}
	.footer-module {

		&:first-child {
			width: 70%;
			padding-right: 10%;
			float: left;
		}
		&:last-child {
			float: right;
		}
	}
}

@media screen and (min-width: 75em) {
	body {
		font-size: 150%;
	}
	.page-wrapper, .footer-wrapper {
		max-width: 30em;
	}
}
