html {
	font-size: 100%;
	text-rendering: optimizeLegibility;
}

body {
	line-height: $base-line-height;
}

code,
kbd,
pre,
samp {
	font-family: 'Fira Mono', 'Source Code Pro', 'Inconsolata', 'Consolas', 'Monaco', 'Menlo', 'Andale Mono', 'Ubuntu Mono', monospace, serif;
	font-style: normal;
	font-size: 0.75rem;
	font-size: 14px;
}

pre ul, pre li, pre p {
	line-height: 1;
	margin: 0;
	padding: 0;
}

blockquote {
	font-family: $ui-font;
	font-style: italic;
	margin: 0;
	font-size: 0.9em;
}


a {
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	color: lighten($body-link-color, 10%);
	transition: color 200ms linear;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home-link {
	font-family: $ui-font;
	line-height: 1.1em;
	font-weight: 600;
	font-size: 2em;

	&:hover {
		text-decoration: none;
	}
}

.article-list {
	font-family: $ui-font;
	.article-list-item {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
}

.post-title {
	font-family: $ui-font;
	line-height: 1.3;
	font-size: 1.7em;
}

.post-time {
	@include timeStyle;
}

.post-content{
	font-family: $content-font;
	font-size: 1em;
}

.post-footer {
	font-family: $ui-font;
	font-weight: 600;
	text-align: left;
}

.site-footer {
	font-family: $ui-font;
	font-size: 0.85em;
}

.footer-module-heading {
	font-family: $ui-font;
	font-weight: normal;
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Mobile + */
@media screen and (max-width: 320px) {
	.post-content{
		font-size: 1em;
		line-height: 1.5;

		.post-heading { font-size: 1.25em;  }
	}
}

@media screen and (min-width: 600px) {
	body {
		font-size: $base-font-size;
	}
	.home-link {
		font-size: 2em;
	}
}


/* Small tablet portrait */
@media screen and (min-width: 580px) {
	.footer-module {
		font-size: 1em;
	}
}
