html {
	line-height: 1.5;
}

body {
	font-family: $ui-font;
}

h1 {
	font-size: $base-font-size * 1.75;
}

h2 {
	font-size: $base-font-size * 1.5;
	font-weight: 600;
}

h3 {
	font-size: $base-font-size * 1.25;
}

h4 {
	font-size: $base-font-size;
}

h5 {
	font-size: $base-font-size * 0.75;
}

h6 {
	font-size: $base-font-size * 0.5;
}

code,
kbd,
pre,
samp,
.highlight {
	font-family: $code-font;
	font-style: normal;
	font-weight: normal;
	white-space: pre-wrap;
}

code,
kbd {
	font-size: .95em;
}

blockquote {
	font-style: italic;
	margin: 0;
	font-weight: 200;
	font-family: $ui-font;
}

mark {
	background: #ff0;
	color: #000;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.home-link {
	font-weight: 600;
	font-style: normal;

	&:hover {
		text-decoration: none;
	}
}

.article {
	font-family: $content-font;
	line-height: 1.6;
	font-size: $base-font-size;

	h2, h3 {
		font-family: $ui-font;
		line-height: 1.3;
	}
	h4 {
		font-family: $ui-font;
	    font-weight: 100;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    color: lightslategrey;
	    margin: 1em 0 0.25em;
	}
	ul, ol {
		list-style-type: square;
		list-style-position: outside;
	}
	aside {
		font-style: italic;
	}
}

.article-collection {
	li {
		list-style-type: none;
	}
}

.article-title {
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: normal;
	font-family: $ui-font;
	overflow-x:  hidden;
	margin-bottom: 1.1em;
}

.article-permalink {
	font-family: $ui-font;
	font-weight: 500;
	font-size: 1.15em;
	line-height: 1.35;
}

figure {
	border: 1px solid lightslategrey;
}

figcaption {
	text-align: center;
	padding: 0.5em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #f5f5f5;
}

.article-pubdate, figcaption {
	font-family: $ui-font;
	letter-spacing: .0625em;
	font-size: .75em;
	font-weight: 300;
}

.article-nav-label {
	font-weight: 300;
}

 .article-nav-link {
	font-weight: 500;
}

.footer-module-heading {
	font-size: .75em;
	font-weight: normal;
	margin-bottom: .75em;
	text-transform: uppercase;
	letter-spacing: .0625em;
}

.footer-module-content {
	margin: 0;
	line-height: 1.5;
}
