// Typography
$base-font-size: 14px;
$base-line-height: 1.5;

$serif-font: "Merriweather", "Charter", "Cambria", "Noto Serif", "Droid Serif", "Georgia", serif;
$sans-font: -apple-system-font, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Noto Sans", "Noto", "Droid Sans", "Open Sans", "Oxygen", "Ubuntu", "Cantarell", sans-serif;
$code-font: "Fira Code", "SF Mono", "Roboto Mono", "Noto Mono", "Droid Mono", "Monaco", "Inconsolata", "Ubuntu Mono", "Liberation Mono", monospace;

// Colors
$page-bg-color: #fdfdfd;
$body-copy-color: #1a1919;
$body-link-color: #459dbf;
$bright-grey: #b3b3b3;
$medium-grey: #505050;
$medium-orange: #dd731c;

@mixin zeroOutSpacing {
	margin: 0;
	padding: 0;
}

@mixin clearFix {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}
}

.totallyHidden {
	display: none;
}

.inline-list li {
	display: inline;
	padding-right: 1em;
	&:last-child {
		padding-right: 0;
	}
}

.plain-list {
	list-style-type: none;
}

@mixin animation {
	transition: all, .25s ease-out;
}
