// Typography
$base-font-size: 0.875em;
$base-line-height: 1.5;

$ui-font: "RobotoDraft", "Roboto", "Open Sans", "Source Sans Pro", "Lato", "PT Sans", "Droid Sans", "Calibri", "Ubuntu", sans-serif;
$content-font: "Source Serif",  "IowanOldStyle-Roman", "Iowan Old Style", "PT Serif", "Droid Serif", "Cambria", serif;
$code-font: "Fira Mono", "Source Code Pro", "PT Mono", "Bitsream Vera Sans", "Ubuntu Mono", "Droid Sans Mono", "Inconsolata", "Monaco", "Menlo", "Andale Mono",  monospace;

// Colors
$page-bg-color: #FDFDFD;
$body-copy-color: #1A1919;
$body-link-color: #459dbf;
$bright-grey: #B3B3B3;
$medium-grey: #505050;
$medium-orange: #dd731c;

@mixin zeroOutSpacing {
	margin: 0;
	padding: 0;
}

@mixin clearFix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.totallyHidden {
	display: none;
}

.inline-list li {
	display: inline;
	padding-right: 1em;
	&:last-child {
		padding-right: 0;
	}
}

.plain-list {
	list-style-type: none;
}

@mixin animation {
	transition: all, 0.25s ease-out;
}

