// Typography
$base-font-size: 0.875em;
$base-line-height: 1.5;

$ui-font: "Monotype News Gothic W01", "Damascus", "Droid Sans", "Calibri", sans-serif;
$content-font: "Amasis W01", "IowanOldStyle-Roman", "Palatino-Roman", "PT Serif", "Droid Serif", "Cambria", serif;

// Colors
$page-bg-color: #FDFDFD;
$body-copy-color: #1A1919;
$body-link-color: #459dbf;
$bright-grey: #B3B3B3;
$medium-grey: #505050;
$medium-orange: #dd731c;

@mixin zeroOutSpacing {
	margin: 0;
	padding: 0;
}
