<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="author" content="Kevin Suttle">
      <link rel="author" href="https://plus.google.com/101864004062601305859">
      <script type="text/javascript" src="//use.typekit.net/cnn0xlm.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

      <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/base.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

  <div class="site">
    {{ content }}
  </div>

  <footer>
        <div class="footer-link">
            <a href="https://twitter.com/kevinSuttle" title="You should follow me on Twitter.">
              <i class="icon-twitter icon-3x"></i>
            </a>
        </div>


        <div class="footer-link">
            <a href="https://github.com/kevinSuttle" title="Check out my code on Github. See what I did there.">
              <i class="icon-github icon-3x"></i>
            </a>
        </div>

        <div class="footer-link">
            <a href="https://dribbble.com/kevinSuttle" title="Sometimes I design stuff.">
              <i class="icon-dribbble icon-3x"></i>
            </a>
        </div>
  </footer>

    <!-- Google Analytics: --> 
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35514615-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
