---
layout: default
---

<main class="post" role="main">
    <article>
        <h1>{{ page.title }}</h1>
        {{ content }}
    </article>
</main>

<footer class="post-footer">
    <nav>
        {% if page.previous.url %} 
        Previous article: <a href={{ page.previous.url }} class="previous-post-link">{{ page.previous.title }}</a>
        {% endif %}
        {% if page.previous.url and page.next.url %} 
        {% endif %}

        {% if page.next.url %} 
        Next article: <a href={{ page.next.url }} class="next-post-link"> {{ page.next.title }}</a>
        {% endif %}
    </nav>
</footer>