$background-color: #FDFDFD;
$body-copy-color: #1A1919;
$body-link-color: #DF7835;
$bright-grey: #B3B3B3;
$medium-grey: #505050;
$solarized-blue: #2075C7;

html {
  background-color: lighten($body-copy-color, 10%);
}

body {
    background-color: $background-color;
    color: $body-copy-color;
    border-color: $medium-grey;
}

blockquote {
  color: $medium-grey;
}

h1 {
    color: black;
}

h2 {
  color: $bright-grey;
}

a:link, a:visited {
  color: $body-copy-color;
  transition: color 200ms linear;
}

a:hover, a:focus {
  color: $body-link-color;
}

[role="banner"] {
      a {
     color: $body-copy-color;
    }
    a:hover {
      color: $body-link-color;
    }
}

time {
  color: $medium-grey;
}

.post-footer nav {
  color: $body-link-color;
}

.site-footer {
  color: $background-color;

   a:link, .site-footer a:visited {
    color: $body-link-color;
    background: none;
    transition: color 300ms linear;
  }
}

.footer-module {
  & a:link, & a:visited {
    color: lighten($body-link-color, 10%);
  }
  & a:hover, & a:focus {
    color: lighten($body-link-color, 20%);
  }
}

[rel="prev"], [rel="next"] {
  color: $body-link-color;
}

.external-post-link {
  background: lighten($bright-grey, 20%);
  border-right: 2px solid black;
  time {
    color: darken($medium-grey, 10%);
  }
}
