@import "typography";

footer { 
  margin: 0 auto;
  width: 100%;
  padding-bottom: 0.5em;
}

blockquote {
  margin-bottom: $base-line-height;
}

ul { 
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

ul li { 
      margin: 0;
}

section p, section li { 
  margin: 0 0 $base-line-height 0;
}

article h1 {
  padding-top: 2em;
}

section h2 {
  margin: ($base-line-height * 2) auto $base-line-height/2;
  padding: 0;
}

article {
  max-width: 680px;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 2em;
}

[role="banner"] {
  margin: 1em auto 0;
}

.external-post-link {
  padding: 0.5em;
  margin-left: -0.5em;
}

.post-listing-item {
  margin-bottom: $base-line-height;
}

.footer-module {
  display: block;
  padding: 0.5em;
  margin: 0 auto;
  
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin: ($base-line-height / 3) auto;
  }
}

.post-footer nav {
    padding: 0.2em 0.35em 0.2em 0;
}

article {
  margin-bottom: $base-line-height * 3;
}

[rel="prev"] {
  margin-bottom: $base-line-height;
}

[rel="prev"], [rel="next"] {
  display: block;
}

/* Smartphone portrait */
@media all and (min-width: 320px){
  .container {
    width: 90%;
  }

  article li { margin-left: 6%; }
}

/* Smartphone landcape */
@media screen and (min-width: 480px) { 
  article li { margin-left: 6%; }
}

/* Large tablet */
@media all and (min-width: 768px) {
  .container { 
    padding-bottom: 3em;
  }
}

@media screen and (min-width: 800px) {
   .footer-module {
    display: block;
    width: 30%;
    float: left;
    padding: 0.3em;

    &.elsewhere {
      width: 19%;
    }

    &.elsewhere, &.contact {
      padding-left: 1.75em;
    }
  }
}

@media screen and (min-width: 960px) {
  .footer-module {
    padding: 0.5em;

    &.elsewhere, &.contact {
      padding-left: 2.5em;
    }
  }
}

/* Tablet - Landscape */
@media all and (min-width: 1024px) {
  .container { 
    width: 66%;
    padding-bottom: 3em;
  }
}

/* Laptop */
@media all and (min-width: 1280px) {
  .container { 
    width: 57%;
    padding-bottom: 4em;
  }
}
